body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #DE9929;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.search-bar {
  padding: 15px;
  width: 60%;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  text-align: center;
  margin-bottom: 1em;
}

h1 {
  margin-top: 1.5em;
  font-size: 4em;
}

.main-nav {
  justify-content: center;

}
.menu {
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.menu li {
  background: gray;
  padding: 10px 20px;
  margin: .5em;
  border-radius: 5px;
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.menu li:hover {
  transform: scale(1.2) rotate(5deg);
  background: #ffc107;
  box-shadow: 0 0 15px rgba(255, 193, 7, 0.8);
}
.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.menu-buy-sell {
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.menu-buy-sell.active {
  opacity: 1;
  transform: translateY(0);
}
.menu-buy-sell li {
  animation: bounceIn 0.8s ease-in-out;
}
@keyframes bounceIn {
  0% { transform: scale(0.5); opacity: 0; }
  50% { transform: scale(1.1); opacity: 0.7; }
  100% { transform: scale(1); opacity: 1; }
}

.paTras{
  margin: 2em;
}
.tornar {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  margin-left: 10%;
}

@media screen and (max-width: 1024px) {
  .paTras {
    text-align: center;
    margin-top: 1em;
    margin-right: 5em;
    margin-bottom: 1em;
  }
}



main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}



@media screen and (min-width: 1024px) {
  main {
      flex-direction: row;
      align-items: flex-start;
  }

  .tabla {
      flex: 1;
      margin-right: 20px;
  }

  .anuncios {
      flex: 2;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-left: 0em;
      gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .table-container {
      position: static;
      width: 80%;
      height: fit-content;
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      overflow-x: auto;
  }

  .anuncios {
      margin-top: 20px; /* Ajusta este valor según sea necesario */
      margin-left: 0; /* Asegura que no haya margen izquierdo */
  }
}


.tabla {
  margin-bottom: 20px;
  width: 100%;
}


.table-container {
  width: 30%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: black;
  color: white;
}


table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}


.anuncios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.anuncios #apiData {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1em;
}



.anuncios #apiData div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease; /* Transición para suavizar el efecto de flotar */
  animation: float 4s ease-in-out infinite alternate; /* Animación de flotar */
}

.anuncios #apiData img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease; /* Transición para el aumento */
}

.anuncios #apiData img:hover {
  transform: scale(1.05); /* Aumenta el tamaño al hacer hover */
  cursor: pointer;
}

.anuncios #apiData p {
  text-align: center;
  grid-column: 1 / -1;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); } /* Aumenta el movimiento vertical */
  100% { transform: translateY(0); }
}

.scrolled {
  position: fixed;
  top: 8.5em;
  width: 22.7em;
  height: fit-content;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .table-container {
    position:static;
    width: 80%;
    height: fit-content;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
  }
  
  

}